/* Estilos de los elementos de las listas desordenadas del main */
.main ul li{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}